#
#  Copyright (C) 2009-2010 K.R.F. Studio.
#
#  $Id: DDNS.conf 288 2013-03-06 10:02:05Z kuang $
#
#  This file is part of 'ddns', Created by karl on 2009-09-25.
#
#  'ddns' is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published
#  by the Free Software Foundation; either version 3 of the License,
#  or (at your option) any later version.
#
#  'ddns' is distributed in the hope that it will be useful, but
#  WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with 'ddns'; if not, write to the Free Software Foundation, Inc.,
#  51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA. 
#

#
#  ddns tool configuration file sample.
#
#  All configuration directives in this file are optional. Directives here
#  except "Domain" will be overriden by command line parameters if there's any.
#

#
# Protocol: The tool will use the protocol to communicate with DDNS server.
#
# Possible values are: 'peanuthull', 'dnspod', 'dyndns'.
#
Protocol = dnspod

#
# The account name & password to login to your DDNS server.
#
Username = YourAccount
Password = YourPassword

#
# Domain: Domain name that you want the tool to update the A record for you.
#
# This directive may be used multiple times. It's useful if you have sevral
# domain names under your DDNS account but you want the tool to update some of
# them for you. If no domain name is specified here, the tool will try to update
# all [A] records under your DDNS account.
#
# Any domain specified here will be appended to the domain list regardless of
# whether domain option is specified in command line or not. So if any domain
# name is specified in this file, it'll disable you the ability to update all
# domain names under your DDNS account automatically, and it's recommended that
# you don't specify any domain name in the configuration file.
#
# Example:
# Domain = www.example.com
# Domain = mail.example.com
#
#Domain = www.example.com

#
# LogFile: path to log file.
#
# This directive allow to to copy all console message to a file.
#
LogFile = /var/log/ddns.log
#LogFile = C:\ddns.log